img{ 
    width: 200px;
    height: 200px;
}
.c1{
    margin-top: 150px;
}
.c2{
    margin-left: 90px;
    height: 20px;
    width: 20px;
}
.w1{
    height: 500px;
    display: flex;
    justify-content: space-around;
}
.w2{
    height: 500px;
    display: flex;
    justify-content: space-around;
}
h1{
    
    font-size: 60px;
    color: rgb(45, 80, 161);
}
.w3{
    height: 500px;
    display: flex;
    justify-content: space-around;

}
.g1{
    
   margin-left: 50px;
    padding: 30px;
    border: 2px solid rgb(121, 199, 231);
    box-shadow: 2px 3px 2px rgb(138, 212, 225);
    border-radius: 20px;
    background-color: aliceblue;
    height:350px;
    width: 320px;
    text-align: center;

}
.g2{
    width: 100px;
    height: 100px;
    

}
.flexible{
    margin-left: 230px;
}
